:host {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
th {
  text-align: left;
}
mat-form-field {
  width: 100%;
}
